.block-fee {
    background-color: rgba(51, 51, 75, 0.43);
    border: 1px solid #33334B;
    border-radius: 6px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        height: 340%;
        width: 2px;
        background-color: #33334B;
        left: -15px;
    }

    &:after {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        border: 2px solid #33334B;
        border-radius: 50%;
        background-color: #474767;
        left: -20px;
        top: -76%;
    }

    &__title {
        top: -30px;
        left: 0;
        font-weight: 300;
        position: absolute;
    }

    &__symbol {
        font-weight: 700;
        font-size: 30px;
    }
}
